h1,h2,h3,h4{
    color: #FF5733;
    font-family: "Alfa Slab One", serif;
    font-size: large;
    
}
body{
    background-color: #B6D0E2;
    text-align: center;
    font-family: "Rowdies", serif;

}
